/server.crt
/server.key

/coverage.txt
/dist/
/megabot
/pkged.go

/web/bootstrap/dist
/web/static/css/bootstrap.min.css
/web/static/css/bootstrap.min.css.map
/web/static/css/login.min.css
/web/static/css/error.min.css
/web/static/js/bootstrap.bundle.min.js
/web/static/js/bootstrap.bundle.min.js.map

/locales/translate.*.toml