/server.crt
/server.key

/coverage.txt
dist/
/megabot
/pkged.go

/web/bootstrap/dist
/web/static/css/bootstrap.min.css
/web/static/css/login.min.css
/web/static/css/error.min.css
/web/static/js/bootstrap.bundle.min.js

/locales/translate.*.toml