{{ define "header" -}}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>{{ .PageTitle }}</title>
{{ range $link := .HeadLinks }}
  {{template "head_link" $link -}}
{{- end }}
</head>
<body>
{{- template "navbar" . -}}
{{- end }}
